.container {
  width: 75%;
  display: block;
  float: right;
  margin-top: 2px;
}

.tarefa-descricao {
  margin-left: 5px;
}

.descricao {
  color: #555;

  &.finalizado {
    color: #ccc;
  }
}

.finalizado {
  color: #ccc;
  text-decoration: line-through;
}

.tarefa-actions {
  mat-checkbox {
    margin-right: 1.1em;
  }

  button {
    margin-left: 1.1em;
  }
}

.spacer {
  flex: 1 1 auto;
}
