<mat-sidenav-container>
  <mat-sidenav class="sidenav" mode="side" opened
               fixedInViewport="true" fixedTopGap="74">
    <mat-toolbar>
      Listas
      <button mat-icon-button (click)="adicionarLista()">
        <mat-icon>add_circle</mat-icon>
      </button>
    </mat-toolbar>

    <mat-list>
      <mat-list-item *ngFor="let lista of listas; let lastItem = last;">
        <mat-icon mat-list-icon>list_alt</mat-icon>
        <a routerLink="listas/{{ lista.id }}">
          {{ lista.nome }}
        </a>
        <span class="spacer"></span>

        <div class="lista-actions">
          <button mat-icon-button (click)="editaLista(lista)">
            <mat-icon>edit</mat-icon>
          </button>
        </div>

        <mat-divider *ngIf="!lastItem"></mat-divider>
      </mat-list-item>
    </mat-list>

    <div *ngIf="listas?.length==0">
      <span>Não há nenhuma lista. Crie a primeira no botão acima!</span>
    </div>
  </mat-sidenav>
</mat-sidenav-container>
