<section class="container">
  <mat-toolbar>
    <span>{{ lista?.nome }}</span>

    <span class="spacer"></span>

    <div class="tarefa-actions">
      <button mat-icon-button (click)="adicionaTarefa()">
        <mat-icon>add_task</mat-icon>
      </button>
      <button mat-icon-button [disabled]="tarefas?.length == 0" (click)="resetaLista()">
        <mat-icon>settings_backup_restore</mat-icon>
      </button>
      <button mat-icon-button [disabled]="tarefas?.length > 0" (click)="deletaLista()">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </mat-toolbar>

  <mat-list>
    <mat-list-item *ngFor="let tarefa of tarefas; let lastItem = last;">
      <mat-icon>list</mat-icon>
      <div class="tarefa-descricao">
        <div mat-line [ngClass]="{'finalizado': tarefa.finalizada}">
          {{ tarefa.nome }}
        </div>
        <div mat-line [ngClass]="{'finalizado': tarefa.finalizada,'descricao':true}">
          {{ tarefa.descricao }}
        </div>
      </div>
      <span class="spacer"></span>

      <div class="tarefa-actions">
        <mat-checkbox (change)="toggleTarefaFinalizada(tarefa)"
                      [checked]="tarefa.finalizada">
        </mat-checkbox>

        <button [disabled]="tarefa.finalizada"
                mat-icon-button
                aria-label="Editar tarefa"
                (click)="editarTarefa(tarefa)">
          <mat-icon>edit</mat-icon>
        </button>

        <button [disabled]="!tarefa.finalizada"
                mat-icon-button
                aria-label="Remover tarefa"
                (click)="deleteTarefa(tarefa)">
          <mat-icon>delete</mat-icon>
        </button>
      </div>

      <mat-divider *ngIf="!lastItem"></mat-divider>
    </mat-list-item>
  </mat-list>
</section>
