<h2 mat-dialog-title>
  Lista
</h2>
<form mat-dialog-content>
  <p>
    <mat-form-field>
      <mat-label>Nome</mat-label>
      <input matInput [(ngModel)]="lista.nome"
             placeholder="Nome" name="nome" required>
    </mat-form-field>
  </p>
  <mat-dialog-actions align="end">
    <button mat-button color="primary"
            [mat-dialog-close]="lista">Salvar
    </button>
  </mat-dialog-actions>
</form>
