<h2 mat-dialog-title>
  Tarefa
</h2>
<form mat-dialog-content>
  <p>
    <mat-form-field>
      <mat-label>Nome</mat-label>
      <input matInput [(ngModel)]="tarefa.nome"
             placeholder="Nome" name="nome" required>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field>
      <mat-label>Descrição</mat-label>
      <input matInput [(ngModel)]="tarefa.descricao"
             placeholder="Descrição" name="descricao">
    </mat-form-field>
  </p>
  <mat-dialog-actions align="end">
    <button mat-button color="primary"
            [mat-dialog-close]="tarefa">Salvar
    </button>
  </mat-dialog-actions>
</form>
